.card{
    @apply  border border-gray-300 border-opacity-60 rounded-xl  m-[0.15rem] h-[30vh] md:h-[20vh] hover:cursor-pointer;
    
}

.imagebox{
    @apply w-[100%]  h-[100%] rounded-xl;
}

.textbox{
    @apply w-full h-[20%] ;
}

.title{
    @apply font-bold tracking-tight mx-2;
}

.price{
    @apply font-bold  rounded-full ;
}

.image{
    @apply rounded-xl transform duration-300 hover:scale-105;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}