.hide{
    @apply hidden;
}

.container{
    @apply w-full  flex flex-row h-[10vh]  shadow-sm transition-colors duration-200 hover:bg-white hover:cursor-pointer border border-gray-100 my-1 rounded bg-zinc-50;
}

.loadingcontainer{
    @apply w-full  flex flex-row h-[10vh] animate-pulse shadow-sm transition-colors duration-200 hover:bg-white hover:cursor-pointer border border-gray-100 my-1 rounded bg-zinc-50;
}
.loadingauthorcard{
    @apply min-w-[125vw] md:min-w-[210vw] lg:min-w-[125vw] xl:min-w-[124vw];
}

.authorcard{
    @apply min-w-[15vw] md:min-w-[8vw] lg:min-w-[5vw] xl:min-w-[4vw];
}

.authorimage{
    @apply h-[9vh]  p-1 flex justify-center;
}

.svg{
    @apply bg-gradient-to-tr from-rose-300 via-gray-200 to-slate-400 rounded border border-zinc-300;
    width:100%;
    height:100%;
    
}

.messageinfo{
    @apply w-full;
}

.listingtitlecontainer{
    @apply m-1 font-bold w-[50%] truncate;
}


.listingmessagecontainer{
    @apply mx-2 truncate h-full w-[50%] max-h-[7vh];
    font-size: 0.9rem;
}
