.form{
    @apply w-full md:w-[90%] lg:w-[62%] xl:w-[50%] h-[100vh] flex flex-col items-center pt-8 border-r border-l border-zinc-200 border-opacity-50  p-1 ;
    z-index: 1;
}

.topinputs{
    @apply w-[90%] flex flex-col h-[25vh];
}

.firstbox{
    @apply w-full flex flex-row;
}

.titlebox{
    @apply w-[70%] ;
}

.title{
    @apply w-[95%] h-[4vh] rounded bg-zinc-100 px-2;
}

.secondbox{
    @apply w-full h-full mt-2 mb-4;
}

.fileinput{
    @apply hidden;
}

.textareabox{
    @apply w-full h-full mt-1;
}

.textarea{
    @apply w-full px-2 pt-2 resize-none rounded h-full bg-zinc-100;
}

.pricebox{
    @apply w-[30%] flex flex-row items-center;
}

.value{
    @apply w-[40%] bg-zinc-100 rounded-lg md:mx-1 md:px-2;
}

.price {
    @apply w-full;
}

.picturebox{
    @apply w-[90%] h-[40vh] flex flex-col items-center bg-zinc-100;
}

.image{
   height: 100%;
   width: 100%;
    object-fit: cover;
    object-position: center;
}

.inputbox{
 
}

.bottombox{
    @apply w-[90%];
}

.buttonbox{
    @apply w-full  flex justify-center;
}

.button{
    @apply w-full py-4 rounded  font-bold text-zinc-200  bg-[#8e3551];
}

.svgbox{
    @apply w-[50%] h-full flex justify-center items-center;
}

.svg{
    @apply w-[20vw] h-[20vh] text-zinc-300 hover:cursor-pointer;
}

.statusbox{
    @apply text-sm  tracking-tight my-2;
}

.status{
    @apply font-bold text-xs;
}

.statusmessage{
    @apply text-sm underline;
}