.container{
    @apply w-full md:w-[90%] lg:w-[62%] xl:w-[50%] min-h-[100vh] h-full flex flex-col bg-[#f8f8f8] items-center border;
}

.titlebar {
    @apply w-full flex justify-center items-center h-[5vh] border-b;
}

.title{
    @apply  text-2xl tracking-tight font-semibold;
}

.topbox{
    @apply md:h-[50vh] w-full flex flex-col md:flex-row border-b ;
}

.imagebox{
    @apply w-full md:max-w-[500px] flex justify-center md:justify-start bg-zinc-100 h-full;
}
.infobox{
    @apply w-full flex flex-row justify-end ;
}
.svg{
    @apply bg-gradient-to-tr from-rose-300 via-gray-200 to-slate-400 rounded border border-zinc-300;
    width:150px;
    height:150px;
}

.buttonsbox{
    @apply  h-full flex flex-col items-center w-full;
}

.inquire{
    @apply px-4 py-3 my-1 w-[60%] border bg-[#a881af] text-white font-bold;
}
.buynow{
    @apply px-4 py-3 mb-1 w-[60%] border text-center bg-[#80669d] text-white font-bold;
}


.listingtitlebox{
    @apply w-full  flex justify-center text-zinc-600;
}

.listingtitle{
    @apply  font-bold w-[100%] tracking-tight text-xl md:text-2xl  mr-4 text-black;
}

.categorybox{
    @apply w-full ;
}

.listingconditionbox{
    @apply text-sm   w-full flex justify-end;
}

.listingcondition{
    @apply  bg-zinc-200 w-[68px] justify-center items-center flex h-[24px] rounded-lg tracking-tighter text-xs font-semibold ;
}

.pricebox{
    @apply w-full py-2 md:pb-8  md:pt-10 flex justify-center;
}

.price{
    @apply text-3xl md:text-4xl text-green-700 font-bold;
}

.listinginfobox{
    @apply w-[60%] justify-center flex flex-row p-2 pt-4 md:pt-10 ;
}

.descriptionbox{
    @apply w-full flex flex-row p-2 bg-zinc-100;
}

.description{
    @apply pl-4;
}

.interactbox{
    @apply w-full h-full flex flex-col items-center justify-center;
}

.sellerbox{
    @apply flex flex-col  items-center;
}

.sellerusername{
    @apply tracking-tight font-bold text-xl;
}

.image{
    
  
    height: 100%;
    object-fit: cover;
    object-position: center;
}